<!-- <div class="jumbotron text-center">
    <h1 class="display-4">MEAN Full App</h1>
    <p class="lead">This is a Bootstrap Jumbotron</p>
    <hr class="my-4">
    <p>This is after the line break</p>
    <a class="btn btn-primary" role="button" style="margin-right: 0.5rem; color: white;">Register</a>
    <a class="btn btn-dark" role="button" style="color: white;">Login</a> -->


    <!-- <div *ngIf="!isUserLoggedIn; then NotLoggedIn"></div>
    <ng-template #NotLoggedIn>
        <a class="btn btn-primary" [routerLink]="['/register']" role="button" style="margin-right: 0.5rem;">Register</a>
        <a class="btn btn-dark" [routerLink]="['/login']" role="button">Login</a>
    </ng-template> -->


<!-- </div> -->
<h2 class="page-header">Home Component</h2>